.orderTab {
    width: 75%;
    left: 12.5%;
    text-align: center;
    background-color: rgb(0, 172, 230);
    margin: 2% auto 0 auto;
    border-radius: 10px;
}

.tableColumn {
    padding: 1% 2%;
    text-align: center;
}

.orderTab>button {
    cursor: row-resize !important;
}

.orderTab>button::after {
    margin-left: 1%;
}

.editOrderButton {
    padding: 1% 2%;
    cursor: pointer;
    color: green;
    margin-left: auto;
    font-size: 1.2rem;
    margin-right: 3%;
}

.deleteOrderButton {
    padding: 1% 2%;
    cursor: pointer;
    color: red;
    font-size: 1.2rem;
}

.editOrderButton:hover>i {
    color: rgb(1, 98, 1);
}

.deleteOrderButton:hover>i {
    color: rgb(197, 0, 0);
}