.offersContainer {
    position: absolute;
    padding: 0;
    height: 92vh;
    overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */

.offersContainer::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */

.offersContainer {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}