.newTask {
    background-color: #131313;
    border-radius: 10px;
    border: 4px solid rgb(0, 172, 230);
    color: rgb(199, 199, 199);
    text-align: center;
    padding: 5% 2%;
    font-size: 1.1rem;
    cursor: pointer;
}

.newTask>main>p {
    margin: 0;
}

.newTask>main>i {
    color: rgb(0, 172, 230);
}