.task {
    margin-top: 1rem;
    cursor: move;
}

.task:first-of-type {
    margin-top: 1.5rem;
}

.task>header {
    padding: .5rem;
    background-color: rgb(0, 172, 230);
    border-bottom: 0;
    font-size: 1rem;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.task:not(.archived)>header>span {
    cursor: pointer;
    padding: 0.5rem;
}

.task:not(.archived)>header>span:hover {
    text-decoration: underline;
}

.task>main {
    text-align: justify;
    padding: .5rem;
    border: 2px solid #1f1f1f;
    border-top: 0;
    font-size: .9rem;
    color: rgb(199, 199, 199);
}

.task span {
    padding-left: .5rem;
}

.actionRow {
    margin-top: .2rem;
}

.actionRow i {
    font-size: 1rem;
    padding: 0.8rem;
    cursor: pointer;
}

.actionRow>i {
    color: red;
}

.actionRow>i:hover {
    color: rgb(197, 0, 0);
}