.fileInput:disabled {
    opacity: 0.8;
    cursor: not-allowed;
}

.attachmentFile>span {
    padding: 0.5rem;
    cursor: pointer;
}

.attachmentFile>span:hover {
    text-decoration: underline;
    color: rgb(170, 170, 170);
}

.attachmentFile>i {
    padding: 0.5rem;
}

.attachmentFile>i:last-of-type:hover {
    color: red;
    cursor: pointer;
}