body {
    font-size: 20px;
    overflow: hidden;
    background-color: #3d3d3d;
}

.h-inherit {
    height: inherit !important;
}

.ml-auto {
    margin-left: auto !important;
}

input:disabled, textarea:disabled, select:disabled{
    opacity: 0.7 !important;
}